version: "3.9"

services:
  api-gateway:
    build:
      context: .
      dockerfile: src/api_gateway/Dockerfile
    environment:
      GATEWAY_AUTH_URL: http://auth:5000
      GATEWAY_PLAYERS_URL: http://players:5002
      GATEWAY_CATALOGUE_URL: http://catalogue:5001
      GATEWAY_MATCHMAKING_URL: http://matchmaking:5004
      GATEWAY_GAME_ENGINE_URL: http://game-engine:5003
    depends_on:
      - auth
      - catalogue
      - players
      - matchmaking
      - game-engine
    ports:
      - "5080:5080"

  auth:
    build:
      context: .
      dockerfile: src/auth/Dockerfile
    environment:
      AUTH_DATABASE_URL: sqlite:////data/auth.db
      AUTH_REDIS_URL: redis://auth-redis:6379/0
      AUTH_JWT_SECRET: super-secret
    volumes:
      - auth-data:/data
    depends_on:
      - auth-redis
    ports:
      - "5001:5000"

  auth-redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6380:6379"

  players:
    build:
      context: .
      dockerfile: src/players/Dockerfile
    environment:
      PLAYERS_DATABASE_URL: sqlite:////data/players.db
    volumes:
      - players-data:/data
    ports:
      - "5002:5002"

  catalogue:
    build:
      context: .
      dockerfile: src/catalogue/Dockerfile
    environment:
      CATALOGUE_DATABASE_URL: sqlite:////data/catalogue.db
    volumes:
      - catalogue-data:/data
    ports:
      - "5003:5001"

  game-engine:
    build:
      context: .
      dockerfile: src/game_engine/Dockerfile
    environment:
      GAME_ENGINE_DATABASE_URL: sqlite:////data/game_engine.db
    volumes:
      - game-engine-data:/data
    ports:
      - "5004:5003"

  matchmaking:
    build:
      context: .
      dockerfile: src/matchmaking/Dockerfile
    environment:
      MATCHMAKING_MAX_QUEUE_SIZE: 500
    ports:
      - "5005:5004"

volumes:
  auth-data:
  players-data:
  catalogue-data:
  game-engine-data:
