openapi: 3.0.3
info:
  title: Carusi Cards Game API
  version: 1.0.0
  description: |
    REST API for players, authentication, matchmaking, matches, rounds, and card catalogue.

    This specification models the endpoints and data model of the card game.
  contact:
    name: API Support
    url: https://example.com/support
    email: support@example.com
  # license:
  #   name:
  #   identifier:

### servers
servers:
  - url: https://carusi.eu/api
    description: Game Endpoint

### tags
tags:
  # Tag grouping for navigation UIs
  - name: Authentication
    description: Registration, login, and logout flows.
    x-displayName: Auth
  - name: Players
    description: Player profile, score, ranking, and match history.
  - name: Matchmaking
    description: Enqueue/dequeue players and check queue status.
  - name: Game Engine
    description: Manage matches, manage rounds, play cards, and handle forfeits.
  - name: Cards
    description: Card catalogue browsing.
  - name: Utilities
    description: Service health and metadata.

x-tagGroups:
  - name: Core
    tags: [Authentication, Players, Matchmaking, Game Engine, Cards]
  - name: Operations
    tags: [Utilities]

### common components
components:
  parameters:
    # Reusable path/collection parameters
    PlayerId:
      name: pId
      in: path
      required: true
      schema:
        type: integer
      description: Player identifier
    MatchId:
      name: mId
      in: path
      required: true
      schema:
        type: integer
      description: Match identifier
    RoundId:
      name: rId
      in: path
      required: true
      schema:
        type: integer
      description: Round identifier

  ### schemas  
  schemas:
    # core resources
    User:
      type: object
      properties:
        id: { type: integer }
        email: { type: string, format: email }
        password: { type: string }
      required: [id, email, password]

    Card:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, description: "Name of the region" }
        image: { type: string, format: uri }
        economy: { type: integer }
        food: { type: integer }
        environment: { type: integer }
        special: { type: integer }
        total: { type: number, format: float }
      required: [id, name, economy, food, environment, special, total]

    Match:
      type: object
      properties:
        id: { type: integer }
        player1_id: { type: integer }
        player2_id: { type: integer }
        # TODO
        status:
          type: string
          enum: [ongoing, completed, forfeited, cancelled]
        player1_score: { type: integer }
        player2_score: { type: integer }
        winner_id:
          type: integer
          nullable: true
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        rounds:
          type: array
          items: { $ref: '#/components/schemas/Round' }
      required: [id, player1_id, player2_id, status, player1_score, player2_score, winner_id, created_at, updated_at]

    Round:
      type: object
      properties:
        id: { type: integer }
        match_id: { type: integer }
        round_number: { type: integer, minimum: 1 }
        category:
          type: string
          enum: [economy, food, environment, special, total]
        player1_card_id: { type: integer }
        player2_card_id: { type: integer }
        winner_id:
          type: integer
          nullable: true
        # TODO
        completed: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
      required: [id, match_id, round_number, category, player1_card_id, player2_card_id, winner_id, completed, created_at, updated_at]
      
    Player:
      type: object
      properties:
        id: { type: integer }
        username: { type: string }
        email: { type: string, format: email }
        profilePicture: { type: string, format: uri }
        score: { type: integer, description: "Cached" }
        ranking: { type: integer, description: "Cached" }
      required: [id, username, email, score, ranking]
      description: Player profile.

    # utility / error messages
    ResponseMessage:
      type: object
      properties:
        msg:
          type: string
      required: [msg]
      description: Standard message-only response used to share information about errors.

  responses:
    GameEngine.ValidationError:
      description: Validation error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ResponseMessage'}
    GameEngine.NotFound:
      description: Not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ResponseMessage'}
    GameEngine.InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ResponseMessage'}
    GameEngine.ServiceUnavailable:
      description: Service unavailable
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ResponseMessage'}

### paths
paths:
  # authentication
  /register:
    post:
      tags: [Authentication]
      summary: Register a new user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                password: { type: string }
              required: [email, password]
      responses:
        '201':
          description: User registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '409':
          description: User already registered 
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}

  /login:
    post:
      tags: [Authentication]
      summary: User log in
      description: Sets and return refresh and access tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                password: { type: string }
              required: [email, password]
      responses:
        '200':
          description: Logged in
          headers:
            Set-Cookie:
              description: HTTP-only secure session cookie
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string, description: "JWT token" }
                  id: {type: integer, description: User ID}
        '400':
          description: Missing required field
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}
        '401':
          description: User not registered or invalid credentials
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}

  /logout:
    # TODO
    post:
      tags: [Authentication]
      summary: User log out
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}

  /refresh:
    post:
      tags: [Authentication]
      summary: Generate a new access token
      responses:
        '200':
          description: New access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string, description: "JWT token" }
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}

  # players
  /players/{pId}:
    get:
      tags: [Players]
      summary: Get a player by ID
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200':
          description: Player
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Player' }
        '404':
          description: Error

  /players/{pId}/score:
    get:
      tags: [Players]
      summary: Get player's score
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200':
          description: Score
          content:
            application/json:
              schema:
                type: object
                properties:
                  pId: { type: integer }
                  score: { type: integer }

  /players/{pId}/ranking:
    get:
      tags: [Players]
      summary: Get player's ranking
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200':
          description: Ranking
          content:
            application/json:
              schema:
                type: object
                properties:
                  pId: { type: integer }
                  ranking: { type: integer }
                  
  /players:
    get:
      tags: [Players]
      summary: Get all players of the game
      responses:
        '200':
          description: A list of players
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Player' }
          
  /players/{pId}/matches:
    get:
      tags: [Players]
      summary: Get all matches for player
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200':
          description: Player matches
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Match' }

  /players/{pId}/matches/{mId}:
    get:
      tags: [Players]
      summary: Get a player's match by ID
      parameters:
        - $ref: '#/components/parameters/PlayerId'
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Match
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Match' }
        '404': 
          description: Error

  # matchmaking
  /enqueue:
    post:
      tags: [Matchmaking]
      summary: Enqueue player
      responses:
        '200':
          description: Matched
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  match_id: { type: integer }
                  opponent_id: { type: integer }
                  token: { type: integer, description: "Queue token"}
        '202':
          description: Enqueued and waiting
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  token: { type: integer, description: "Queue token"}
        '409':
          description: Queue full
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}
  /status:
    get:
      tags: [Matchmaking]
      summary: Check player's queue status
      responses:
        '200':
          description: Enqueued
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    description: Matched
                    properties:
                      status: { type: string }
                      match_id: { type: integer }
                      opponent_id: { type: integer }
                      token: { type: integer, description: "Queue token"}
                  # TODO
                  - type: object
                    description: Rematched
                    properties:
                      status: { type: string }
                      match_id: { type: integer }
                      opponent_id: { type: integer }
                      source: { type: string}
                  - type: object
                    description: Waiting
                    properties:
                      status: { type: string }
                      token: { type: integer, description: "Queue token"}
        '404':
          description: Not queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
        '409':
          description: Stale
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  msg: { type: string }

  /dequeue:
    post:
      tags: [Matchmaking]
      summary: Dequeue player
      description: Remove player from queue.
      responses:
        '200':
          description: Dequeued
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
        '409':
          description: Failed
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      status: { type: string }
                      match_id: { type: integer }
                      opponent_id: { type: integer }
                  - $ref: '#/components/schemas/ResponseMessage'

  # matches
  /matches/{mId}:
    get:
      tags: [Game Engine]
      summary: Get match by ID
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Match without rounds
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Match' }
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  /matches/{mId}/history:
    get:
      tags: [Game Engine]
      summary: Get match and rounds by ID
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Match with rounds
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Match' }
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  /matches/create:
    post:
      tags: [Game Engine]
      summary: Get match and rounds by ID
      parameters:
        - $ref: '#/components/parameters/MatchId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                player1_id: { type: integer }
                player2_id: { type: integer }
              required: [player1_id, player2_id]
      responses:
        '201':
          description: Match with rounds
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Match' }
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  /matches/{mId}/deck:
    post:
      tags: [Game Engine]
      summary: Submit deck for current match
      parameters:
        - $ref: '#/components/parameters/MatchId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                player_id: { type: integer }
                # TODO
                data:
                  type: array
                  items:
                    type: integer
              required: [player_id, data]
      responses:
        '200':
          description: Deck accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Match' }
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  /matches/{mId}/moves/{rId}:
    post:
      tags: [Game Engine]
      summary: Submit move for current round in current match
      parameters:
        - $ref: '#/components/parameters/MatchId'
        - $ref: '#/components/parameters/RoundId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                player_id: { type: integer }
                card_id: { type: integer }
              required: [player_id, data]
      responses:
        '200':
          description: Move accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  winner_id : { type: integer }
                  # TODO
                  drawed: { type: boolean }
                  completed: { type: boolean }
                  scores: 
                    type: object
                    properties:
                      player1_score: { type: integer }
                      player2_score: { type: integer }
                  next_round: { type: integer }
                  next_category: { type: integer }
                  game_status: { type: string } # TODO
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  /matches/{mId}/round:
    get:
      tags: [Game Engine]
      summary: Get status of last round in current match
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Bho
          content:
            application/json:
              schema:
                type: object
                properties:
                  match_id: { type: integer }
                  current_round : { type: integer }
                  # TODO
                  current_category: { type: string }
                  round_status: { type: string }
                  round: { $ref: '#/components/schemas/Round' }
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  /leaderboard:
    get:
      tags: [Game Engine]
      summary: Get leaderboard
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '202':
          description: Forfeit accepted

  # card catalogue
  /cards:
    get:
      tags: [Cards]
      summary: Get all cards of the game
      responses:
        '200':
          description: A list of cards
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Card' }

  /cards/{id}:
    get:
      tags: [Cards]
      summary: Get a single card by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: object
            properties:
              card_id: { type: integer }
      responses:
        '200':
          description: Requested card
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Card' }
        '400':
          description: Invalid card
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}
        '404':
          description: Card not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}
  /internal/cards/validation:
    get:
      tags: [Card]
      summary: Validate selected deck
      description: Check if cards in deck are contained in catalogue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items: { type: integer }
      responses:
          '200':
            description: Validation result
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data: { $ref: '#/components/schemas/Card' }
  
  # utilities
  /_meta:
    get:
      tags: [Utilities]
      summary: API metadata and capabilities
      responses:
        '200':
          description: Server capability flags and versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  openapiVersion: { type: string }
                  buildRef: { type: string }
                  features:
                    type: object
                    additionalProperties: { type: boolean }
                    