openapi: 3.1.0
info:
  title: Carusi Cards Game API
  version: 1.0.0
  summary: REST API for players, authentication, matchmaking, matches, rounds, and card catalogue.
  description: |
    This specification models the endpoints and data model of the card game.
  contact:
    name: API Support
    url: https://example.com/support
    email: support@example.com
  # license:
  #   name:
  #   identifier:


### servers
servers:
  - url: https://carusi.net/api
    description: Game Endpoint

### tags
tags:
  # Tag grouping for navigation UIs
  - name: Authentication
    description: Registration, login, and logout flows.
    x-displayName: Auth
  - name: Players
    description: Player profile, score, ranking, and match history.
  - name: Matchmaking
    description: Enqueue/dequeue players and check queue status.
  - name: Matches
    description: Manage matches, manage rounds, play cards, and handle forfeits.
  - name: Cards
    description: Card catalogue browsing.
  - name: Utilities
    description: Service health and metadata.

x-tagGroups:
  - name: Core
    tags: [Authentication, Players, Matchmaking, Matches, Cards]
  - name: Operations
    tags: [Utilities]

### common components
components:
  parameters:
    # Reusable path/collection parameters
    PlayerId:
      name: pId
      in: path
      required: true
      schema:
        type: integer
      description: Player identifier
    MatchId:
      name: mId
      in: path
      required: true
      schema:
        type: integer
      description: Match identifier
    RoundId:
      name: rId
      in: path
      required: true
      schema:
        type: integer
      description: Round identifier

  ### schemas  
  schemas:
    # core resources
    Player:
      type: object
      properties:
        id: { type: integer }
        username: { type: string }
        email: { type: string, format: email }
        profilePicture: { type: string, format: uri }
        score: { type: integer, description: "Cached" }
        ranking: { type: integer, description: "Cached" }
      required: [id, username, email, score, ranking]
      description: Player profile.

    Card:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, description: "Name of the region" }
        image: { type: string, format: uri }
        economy: { type: integer }
        food: { type: integer }
        environment: { type: integer }
        special: { type: integer }
        total: { type: number, format: float }
      required: [id, name, economy, food, environment, special, total]

    Match:
      type: object
      properties:
        id: { type: integer }
        player1_id: { type: integer }
        player2_id: { type: integer }
        status:
          type: string
          enum: [ongoing, completed, forfeited, cancelled]
        winner_id:
          anyOf:
            - type: integer
            - type: "null"
        rounds:
          type: array
          items: { $ref: '#/components/schemas/Round' }
      required: [id, player1_id, player2_id, status, winner_id, rounds]

    Round:
      type: object
      properties:
        id: { type: integer }
        match_id: { type: integer }
        turn_number: { type: integer, minimum: 1 }
        category:
          type: string
          enum: [economy, food, environment, special, total]
        card1_id: { type: integer }
        card2_id: { type: integer }
        winner_id:
          anyOf:
            - type: integer
            - type: "null"
      required: [id, match_id, turn_number, category, card1_id, card2_id]

### paths
paths:
  # authentication
  /register:
    post:
      tags: [Authentication]
      summary: Register a new user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username: { type: string }
                email: { type: string, format: email }
                password: { type: string }
              required: [username, email, password]

      responses:
        '201':
          description: Registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Player' }
        '409':
          description: User already registered 
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg: { type: string }

  /login:
    post:
      tags: [Authentication]
      summary: User log in
      description: Sets and return refresh and access tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  username: { type: string }
                  password: { type: string }
                required: [username, password]
              - type: object
                properties:
                  email: { type: string, format: email }
                  password: { type: string }
                required: [email, password]
      responses:
        '200':
          description: Logged in
          headers:
            Set-Cookie:
              description: HTTP-only secure session cookie
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string, description: "JWT token" }
        '401':
          description: User not registered or invalid password
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg: { type: string }

  /logout:
    post:
      tags: [Authentication]
      summary: User log out
      responses:
        '204':
          description: Logged out

  /refresh:
    post:
      tags: [Authentication]
      summary: Generate a new access token
      responses:
        '200':
          description: New access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string, description: "JWT token" }
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg: { type: string }

  # players
  /players/{pId}:
    get:
      tags: [Players]
      summary: Get a player by ID
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200':
          description: Player
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Player' }
        '404':
          description: Error

  /players/{pId}/score:
    get:
      tags: [Players]
      summary: Get player's score
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200':
          description: Score
          content:
            application/json:
              schema:
                type: object
                properties:
                  pId: { type: integer }
                  score: { type: integer }

  /players/{pId}/ranking:
    get:
      tags: [Players]
      summary: Get player's ranking
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200':
          description: Ranking
          content:
            application/json:
              schema:
                type: object
                properties:
                  pId: { type: integer }
                  ranking: { type: integer }
                  
  /players:
    get:
      tags: [Players]
      summary: Get all players of the game
      responses:
        '200':
          description: A list of players
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Player' }

  /leaderboard:
    get:
      tags: [Players]
      summary: Get leaderboard of the game
      responses:
        '200':
          description: List of all players ranked by score
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        player_id: { type: integer }
                        username: { type: string }
                        score: { type: integer }
                        ranking: { type: integer }
          
  /players/{pId}/matches:
    get:
      tags: [Players]
      summary: Get all matches for player
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200':
          description: Player matches
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Match' }

  /players/{pId}/matches/{mId}:
    get:
      tags: [Players]
      summary: Get a player's match by ID
      parameters:
        - $ref: '#/components/parameters/PlayerId'
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Match
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Match' }
        '404': 
          description: Error

  # matchmaking
  /queue:
    post:
      tags: [Matchmaking]
      summary: Enqueue current player
      responses:
        '202':
          description: Enqueued
    delete:
      tags: [Matchmaking]
      summary: Dequeue current player
      responses:
        '204':
          description: No content error
    get:
      tags: [Matchmaking]
      summary: Queue status for current player
      responses:
        '200':
          description: Queue status
          content:
            application/json:
              schema:
                type: object
                properties:
                  inQueue: { type: boolean }
                  position: { type: integer, minimum: 0 }
                  estimatedWaitSeconds: { type: integer, minimum: 0 }

  # matches
  /matches/{mId}:
    get:
      tags: [Matches]
      summary: Get match by ID
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Match
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Match' }
        '404':
          description: Error

  /matches/{mId}/deck:
    post:
      tags: [Matches]
      summary: Submit deck for a match
      parameters:
        - $ref: '#/components/parameters/MatchId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cardIds:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
              required: [cardIds]
      responses:
        '202':
          description: Deck accepted
    get:
      tags: [Matches]
      summary: Get deck submitted for a match
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Deck
          content:
            application/json:
              schema: 
                type: object
                properties:
                  cards_id:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                required: [cards_id]

  /matches/{mId}/rounds/{rId}:
    get:
      tags: [Matches]
      summary: Get round details
      parameters:
        - $ref: '#/components/parameters/MatchId'
        - $ref: '#/components/parameters/RoundId'
      responses:
        '200':
          description: Round
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Round' }

  /matches/{mId}/rounds/{rId}/play:
    post:
      tags: [Matches]
      summary: Play a card in a round of the match
      parameters:
        - $ref: '#/components/parameters/MatchId'
        - $ref: '#/components/parameters/RoundId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                card_id: { type: integer }
      responses:
        '202':
          description: Move accepted

  /matches/{mId}/forfeit:
    post:
      tags: [Matches]
      summary: Forfeit a match
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '202':
          description: Forfeit accepted

  # card catalogue
  /cards:
    get:
      tags: [Cards]
      summary: Get all cards of the game
      responses:
        '200':
          description: A list of cards
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Card' }

  /cards/{id}:
    get:
      tags: [Cards]
      summary: Get a single card by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: object
            properties:
              card_id: { type: integer }
      responses:
        '200':
          description: Requested card
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Card' }
        '400':
          description: Invalid card
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg: { type: string }
        '404':
          description: Card not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg: { type: string }

  # utilities
  /_meta:
    get:
      tags: [Utilities]
      summary: API metadata and capabilities
      responses:
        '200':
          description: Server capability flags and versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  openapiVersion: { type: string }
                  buildRef: { type: string }
                  features:
                    type: object
                    additionalProperties: { type: boolean }
                    