openapi: 3.0.3
info:
  title: Carusi Cards Game API
  version: 1.0.0
  description: |
    REST API for players, authentication, matchmaking, matches, rounds, and card catalogue.

    This specification models the endpoints and data model of the card game.
  contact:
    name: API Support
    url: https://example.com/support
    email: support@example.com

### servers
servers:
  - url: https://carusi.eu/api
    description: Game Endpoint

### tags
tags:
  - name: Authentication
    description: Registration, login, and logout flows.
    x-displayName: Auth
  - name: Players
    description: Player profile, score, ranking, and match history.
  - name: Matchmaking
    description: Enqueue/dequeue players, and check queue status.
  - name: Game Engine
    description: Manage matches and rounds in order to play the game.
  - name: Cards
    description: Card catalogue browsing.
  - name: Utilities
    description: Service health and metadata.

x-tagGroups:
  - name: Core
    tags: [Authentication, Players, Matchmaking, Game Engine, Cards]
  - name: Operations
    tags: [Utilities]

### common components
components:
  parameters:
    PlayerId:
      name: player_id
      in: path
      required: true
      schema:
        type: integer
      description: Player identifier
    MatchId:
      name: match_id
      in: path
      required: true
      schema:
        type: integer
      description: Match identifier
    RoundNumber:
      name: round_number
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
        maximum: 5
      description: Sequential number of the round (1-5)
    CardId:
      name: card_id
      in: path
      required: true
      schema:
        type: integer
      description: Card identifier
    Username:
      name: username
      in: path
      required: true
      schema:
        type: string
      description: Username of the player
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
      description: Number of items to return
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        default: 0
      description: Pagination offset

  ### schemas  
  schemas:
    # core resources
    User:
      type: object
      properties:
        id: { type: integer }
        email: { type: string, format: email }
        password: { type: string }
      required: [id, email, password]

    Player:
      type: object
      properties:
        id: { type: integer }
        username: { type: string }
        region:
          type: string
          enum:
            - Abruzzo
            - Basilicata
            - Calabria
            - Campania
            - Emilia-Romagna
            - Friuli-Venezia Giulia
            - Lazio
            - Liguria
            - Lombardia
            - Marche
            - Molise
            - Piemonte
            - Puglia
            - Sardegna
            - Sicilia
            - Toscana
            - Trentino-Alto Adige
            - Umbria
            - "Valle d'Aosta"
            - Veneto        
      required: [id, username, region]
      description: Player profile

    Card:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, description: "Name of the region" }
        image: { type: string, format: uri }
        economy: { type: integer }
        food: { type: integer }
        environment: { type: integer }
        special: { type: integer }
        total: { type: number, format: float }
      required: [id, name, economy, food, environment, special, total]

    Match:
      type: object
      properties:
        id: { type: integer }
        player1_id: { type: integer }
        player2_id: { type: integer }
        status:
          type: string
          enum: [SETUP, IN_PROGRESS, FINISHED]
          description: Match status (uppercase enum values)
        player1_score: { type: integer }
        player2_score: { type: integer }
        winner_id:
          type: integer
          nullable: true
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        rounds:
          type: array
          nullable: true
          items: { $ref: '#/components/schemas/Round' }
          description: Only included when requesting match history
      required: [id, player1_id, player2_id, status, player1_score, player2_score, winner_id, created_at, updated_at]
      description: |
        Match object. Note: player decks (player1_deck, player2_deck) are stored but never returned in responses for security reasons.

    Round:
      type: object
      properties:
        id: { type: integer }
        match_id: { type: integer }
        round_number: { type: integer, minimum: 1 }
        category:
          type: string
          enum: [economy, food, environment, special, total]
        player1_card_id: 
          type: integer
          nullable: true
        player2_card_id: 
          type: integer
          nullable: true
        winner_id:
          type: integer
          nullable: true
        is_complete: 
          type: boolean
          description: True if both players have submitted cards
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
      required: [id, match_id, round_number, category, is_complete, created_at, updated_at]

    MatchStatistics:
      type: object
      properties:
        total_matches: 
          type: integer
          description: Total number of finished matches
        total_wins: 
          type: integer
          description: Number of wins
        total_losses: 
          type: integer
          description: Number of losses
        win_rate: 
          type: number
          format: float
          description: Win rate percentage (0-100)
      required: [total_matches, total_wins, total_losses, win_rate]

    LeaderboardEntry:
      type: object
      properties:
        rank: 
          type: integer
          description: Player's rank on leaderboard
        player_id: 
          type: integer
          description: Player identifier
        wins: 
          type: integer
          description: Total wins
        losses: 
          type: integer
          description: Total losses
        total_matches: 
          type: integer
          description: Total finished matches
        win_rate: 
          type: number
          format: float
          description: Win rate percentage (0-100)
      required: [rank, player_id, wins, losses, total_matches, win_rate]

    # utility / error messages
    ResponseMessage:
      type: object
      properties:
        msg:
          type: string
      required: [msg]
      description: Standard message-only response used to share information about errors.

    ValidationError:
      type: object
      properties:
        msg:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
          enum:
            - INVALID_TYPES
            - SAME_PLAYER
            - EMPTY_DECK
            - WRONG_STATUS
            - NOT_PARTICIPANT
            - WRONG_DECK_SIZE
            - DUPLICATE_CARDS
            - CARD_NOT_IN_DECK
            - ALREADY_MOVED_THIS_ROUND
            - CARD_ALREADY_PLAYED
            - NO_DECK
      required: [msg]

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      
  responses:
    UnprocessableContent:
      description: Unprocessable content
    Authentication.BadRequestError:
      description: Bad request error, either missing or invalid required fields
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ResponseMessage'}
    Players.BadRequestError:
      description: |
        Bad request error or invalid input for player profile, including:
        - Username required
        - Username too short
        - Username too long
        - Invalid username
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ResponseMessage'}
    GameEngine.ValidationError:
      description: Validation error with optional error code
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ValidationError'}
    GameEngine.NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ResponseMessage'}
    GameEngine.InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ResponseMessage'}
    GameEngine.ServiceUnavailable:
      description: External service (catalogue or players) unavailable
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ResponseMessage'}
    GameEngine.PermissionDenied:
      description: Access denied (not a participant or not friends)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ResponseMessage'}

### paths
paths:
  # authentication
  /register:
    post:
      tags: [Authentication]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                password: { type: string }
              required: [email, password]
      responses:
        '201':
          description: User registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg: { type: string }
                  user_id: { type: integer }
        '400':
          $ref: '#/components/responses/Authentication.BadRequestError'
        '409':
          description: User already registered 
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}

  /login:
    post:
      tags: [Authentication]
      summary: User log in
      description: Sets and return refresh and access tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                password: { type: string }
              required: [email, password]
      responses:
        '200':
          description: Logged in
          headers:
            Set-Cookie:
              description: HTTP-only secure session cookie
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string, description: "JWT token" }
                  user_id: {type: integer, description: User ID}
        '400':
          $ref: '#/components/responses/Authentication.BadRequestError'
        '401':
          description: User not registered or invalid credentials
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}

  /refresh:
    post:
      tags: [Authentication]
      summary: Generate a new access token
      security:
        - bearerAuth: []
      responses:
        '200':
          description: New access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string, description: "JWT token" }
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /logout:
    post:
      tags: [Authentication]
      summary: User log out
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  # players        
  /players:
    post:
      tags: [Players]
      summary: Create player profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username: { type: string }
                region: { type: string }
              required: [username, region]
      security:
        - bearerAuth: []
      responses:
        '201':
          description: New created player profile for current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
        '400':
          $ref: '#/components/responses/Players.BadRequestError'
        '409':
          description: Username already taken'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /players/me:
    get:
      tags: [Players]
      summary: Get profile of current current user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Player profile of current user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Player' }
        '404':
          description: Profile not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '422':
          $ref: '#/components/responses/UnprocessableContent'
    patch:
      tags: [Players]
      summary: Update profile of current user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                region: { type: string }
              required: [region]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Updated player profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Player' }
        '400':
          description: Invalid region
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '404':
          description:  Profile not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          description: Internal server error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }

  /players/{player_id}:
    get:
      tags: [Players]
      summary: Get profile of a player by ID
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200':
          description: Player profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Player' }
        '404':
          description: Player not found  

  /players/search/{username}:
    get:
      tags: [Players]
      summary: Search for a player
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Username'
      responses:
        '200':
          description: Player profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
        '400':
            $ref: '#/components/responses/Players.BadRequestError'
        '404':
          description: Player not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /players/me/friends:
    get:
      tags: [Players]
      summary: Get friends list of current user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of friends
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        username: { type: string }
                        status: { type: string, enum: [accepted, pending] }
        '404':
          description: User player not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /players/me/friends/{username}:
    get:
      tags: [Players]
      summary: Check friendship status
      security:
        - bearerAuth: []
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Username of the player to check friendship with.
      responses:
        '200':
          description: Friendship status
          content:
            application/json:
              schema:
                type: object
                properties:
                  username: { type: string }
                  status: { type: string, enum: [accepted, pending] }
        '400':
            $ref: '#/components/responses/Players.BadRequestError'
        '404':
          description: User player not found, or Target player not found, or Friendship not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '422':
          $ref: '#/components/responses/UnprocessableContent'
    post:
      tags: [Players]
      summary: Send or respond to a friendship request
      security:
        - bearerAuth: []
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Username of the player to send a friend request to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accepted: { type: boolean }
      responses:
        '200':
          description: Friendship request accepted or rejected
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '201':
          description: Friend request sent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '400':
            $ref: '#/components/responses/Players.BadRequestError'
        '404':
          description: User player not found, or Target player not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '409':
          description: Request conflict
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '422':
          $ref: '#/components/responses/UnprocessableContent'
    delete:
      tags: [Players]
      summary: Remove friendship
      security:
        - bearerAuth: []
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Friendship removed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '404':
          description: User player not found, or Target player not found, or Friendship not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '409':
          description: Not authorized to remove friendship
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage' }
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  # matchmaking
  /enqueue:
    post:
      tags: [Matchmaking]
      summary: Enqueue player
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Matched
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  match_id: { type: integer }
                  opponent_id: { type: integer }
                  queue_token: { type: string }
        '202':
          description: Enqueued and waiting
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  queue_token: { type: string }
        '403':
          description: Player profile not created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}
        '409':
          description: Queue full
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}
        '422':
          $ref: '#/components/responses/UnprocessableContent'
  /status:
    get:
      tags: [Matchmaking]
      summary: Check player's queue status
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Enqueued
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    description: Matched
                    properties:
                      status: { type: string }
                      match_id: { type: integer }
                      opponent_id: { type: integer }
                      queue_token: { type: string }
                  - type: object
                    description: Waiting
                    properties:
                      status: { type: string }
                      queue_token: { type: string }
                      in_queue: { type: boolean }
                  - type: object
                    description: Rematched
                    properties:
                      status: { type: string }
                      match_id: { type: integer }
                      opponent_id: { type: integer }
                      source: { type: string }
        '404':
          description: Not queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
        '409':
          description: Stale
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  msg: { type: string }
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /dequeue:
    post:
      tags: [Matchmaking]
      summary: Dequeue player
      description: Remove player from queue.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dequeued
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
        '409':
          description: Failed
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      status: { type: string }
                      match_id: { type: integer }
                      opponent_id: { type: integer }
                  - $ref: '#/components/schemas/ResponseMessage'
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  # matches
  /matches/{match_id}/deck:
    post:
      tags: [Game Engine]
      summary: Submit deck for current match
      description: |
        Submit a deck of 5 card IDs for the match. Both players must submit decks before the match can begin.
        Decks must contain exactly 5 unique cards.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MatchId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: integer
                  minItems: 5
                  maxItems: 5
              required: [data]
      responses:
        '200':
          description: Deck accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Match' }
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  /matches/{match_id}/moves/{round_number}:
    post:
      tags: [Game Engine]
      summary: Submit move for current round in current match
      description: |
        Submit a card to play for the specified round. The round number must match the current active round.
        Returns different responses based on whether both players have moved.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MatchId'
        - $ref: '#/components/parameters/RoundNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                card_id: { type: integer }
              required: [card_id]
      responses:
        '200':
          description: Move accepted
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: Waiting for opponent
                    description: First player has moved, waiting for second player
                    properties:
                      status: 
                        type: string
                        enum: [WAITING_FOR_OPPONENT]
                      round: 
                        $ref: '#/components/schemas/Round'
                    required: [status, round]
                  - type: object
                    title: Round processed
                    description: Both players have moved, round is complete
                    properties:
                      status: 
                        type: string
                        enum: [ROUND_PROCESSED]
                      round_winner_id: 
                        type: integer
                        nullable: true
                        description: ID of round winner, or null if draw
                      is_draw: 
                        type: boolean
                        description: True if round ended in a draw
                      completed_round: 
                        $ref: '#/components/schemas/Round'
                      scores:
                        type: object
                        additionalProperties: 
                          type: integer
                        description: Map of player_id to score
                      next_round:
                        type: integer
                        nullable: true
                        description: Next round number, or null if match finished
                      next_category:
                        type: string
                        nullable: true
                        description: Next round category, or null if match finished
                      game_status: 
                        type: string
                        enum: [IN_PROGRESS, FINISHED]
                        description: Current match status
                    required: [status, round_winner_id, is_draw, completed_round, scores, game_status]
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  /matches/{match_id}/round:
    get:
      tags: [Game Engine]
      summary: Get status of current round in match
      description: |
        Returns information about the current incomplete round, including the active category
        and which players have submitted moves.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Current round status
          content:
            application/json:
              schema:
                type: object
                properties:
                  match_id: { type: integer }
                  current_round_number: 
                    type: integer
                    nullable: true
                    description: Current round number, or null if no active round
                  current_category: 
                    type: string
                    nullable: true
                    description: Current round category, or null if no active round
                  round_status: 
                    type: string
                    enum: [WAITING_FOR_BOTH_PLAYERS, WAITING_FOR_ONE_PLAYER, ROUND_COMPLETE]
                  round: 
                    allOf:
                      - $ref: '#/components/schemas/Round'
                    nullable: true
                    description: Round details, or null if no active round
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '403':
          $ref: '#/components/responses/GameEngine.PermissionDenied'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'

  /matches/{match_id}:
    get:
      tags: [Game Engine]
      summary: Get match by ID
      description: Returns match information without rounds (for basic match status).
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Match without rounds
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Match' }
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '403':
          $ref: '#/components/responses/GameEngine.PermissionDenied'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'

  /matches/{match_id}/history:
    get:
      tags: [Game Engine]
      summary: Get match and all rounds by ID
      description: Returns complete match information including all rounds (for viewing match history).
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Match with all rounds
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Match' }
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '403':
          $ref: '#/components/responses/GameEngine.PermissionDenied'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  /matches/history/{player_id}:
    get:
      tags: [Game Engine]
      summary: Get match history for a specific player
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PlayerId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [setup, in_progress, finished]
          description: Filter by match status
      responses:
        '200':
          description: Match history
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Match'
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  /leaderboard:
    get:
      tags: [Game Engine]
      summary: Get leaderboard
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Leaderboard
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        player_id: { type: integer }
                        username: { type: string }
                        wins: { type: integer }
        '400':
          $ref: '#/components/responses/GameEngine.ValidationError'
        '404':
          $ref: '#/components/responses/GameEngine.NotFound'
        '500':
          $ref: '#/components/responses/GameEngine.InternalServerError'
        '503':
          $ref: '#/components/responses/GameEngine.ServiceUnavailable'

  # card catalogue
  /cards:
    get:
      tags: [Cards]
      summary: Get all cards of the game
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of cards
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Card' }
        '422':
          $ref: '#/components/responses/UnprocessableContent'

  /cards/{card_id}:
    get:
      tags: [Cards]
      summary: Get a single card by ID
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CardId'
      responses:
        '200':
          description: Requested card
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Card' }
        '404':
          description: Card not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResponseMessage'}
        '422':
          $ref: '#/components/responses/UnprocessableContent'
  
  # utilities
  /health:
    get:
      tags: [Utilities]
      summary: Health check
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  